* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: calc(7vmin + 2.2vh);
}

.header {
    margin: 0px;
    padding: 1vh 0;
    top: 0px;
    right: -10px;
    left: -10px;
    position: fixed;
    color: white;
    background-color: #37da7e;
    box-shadow: 0px 4px 20px -5px #000;
    text-align: center;
}

@font-face {
    font-family: "SignPainter HouseScript";
    src: url("/static/signpainter-housescript.ttf");
}

.header__team-name {
    font-family: "SignPainter HouseScript";
    letter-spacing: 0.15em;
    font-size: 6vmin;
    font-weight: 900;
}

.footer {
  background-color: #37da7e;
  height: 60px;
  color: #00b64f;
  /* pin to bottom */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer_obj {
  position: relative;
}

.member {
    display: inline-block;
    position: relative;
    text-align: center;
}

.member__nick {
    position: absolute;
    margin: 0;
    bottom: 20px;
    width: 100%;

}

.member__photo {
    position: relative;
    width: 100%;
    z-index: -1;
}

.footer {
    background-color: #37da7e;
    bottom: 0;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    color: #00b64f;
 }

.footer__copyright {
  position: absolute;
  vertical-align: middle;
  left: 40px;
  top: 20px;
  color: #000000; /* первоначальный мне не понравился*/
}

.footer__github {
  position: absolute;
  text-align: center;
  top: 20px;
  right: 60px;
  /* todo
  подумать о цвете и шрифте
  в copyright тоже
  */
}

.footer__octopus {
  position: absolute;
  top: 15px;
  right: 289px;
}
