body {
  background-color: white;
}

.header {
  margin: 0px;
  padding: 1vh 0;
  top: 0px;
  right: -10px;
  left: -10px;
  position: fixed;
  color: white;
  background-color: #37DA7E;
  box-shadow: 0px 4px 20px -5px #000;
  text-align: center;
}

@font-face {
  font-family: 'SignPainter HouseScript';
  src: url('/static/signpainter-housescript.ttf');
}

.header__team-name {
  font-family: 'SignPainter HouseScript';
  letter-spacing: 0.15em;
  font-size: 6vmin;
  font-weight: 900;
}

.member-list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    list-style: none;
}

.member-list > li {
    display: block;
    flex-basis: 25%;
}
